@page
@model RegisterModel
@{
    ViewData["Title"] = "User Creation";
}

<div class="container" style="border: solid #f7f7f9">
    <div class="row">
        <div class="col-md-8 align-self-center">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4 class="" style="font-size: 20px;">Create a new user.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name" class="" style="font-size: 14px;"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Position" class="" style="font-size: 14px;"></label>
                    <input asp-for="Input.Position" class="form-control" />
                    <span asp-validation-for="Input.Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="" style="font-size: 14px;"></label>
                    <input asp-for="Input.Email" class="form-control" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="font-size: 14px;"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" style="font-size: 14px;"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-custom">Register</button>
                
                <button type="button" class="btn btn-cancel" onclick="location.href='@Url.Action("Index", "User")'"> Cancel </button>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
